<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/datepicker.css">
    <link rel="stylesheet" href="css/appointment.css">
    <link rel="stylesheet" href="css/navbar.css">
</head>

<body>
<div class="inner-layer">
    <nav class="navbar">
        <div class="container">
            <div class="logo">
                <a href="#">E-Veternary</a>
            </div>

            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="/appointments">display</a></li>
                <li><a href="/shop">location</a></li>
                <li><a href="/home">Dashboard</a></li>
                <li><a href="/login">logout</a></li>

            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row no-margin">
            <div class="col-sm-7">
                <div class="content">
                    <h1>Book You Slot Now and Save your time</h1>
                    <p>Being a pet owner is about so much more than just opening your home to an animal. It’s about boisterous greetings and snuggles on the couch after a long day. It’s about chin scratches and belly rubs, treats and toys. Most of all, it’s about sharing your heart and learning what unconditional love and unwavering loyalty truly feel like </p>
                    <h2>For Help Call : +000-000-000</h2>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-data">
                    <div class="form-head">
                        <h2>Book Appointemnt</h2>
                    </div>
                    <form action="/registerAppointment" method="post" th:object="${appointmentRequest}">
                    <div class="form-body">
                        <div class="row form-row">
                            <input type="text" name="fullName" placeholder="Enter Full name" class="form-control">
                        </div>
                        <div class="row form-row">
                            <input type="number" name="number" placeholder="Enter Mobile Number" class="form-control">
                        </div>
                        <div class="row form-row">
                            <input type="text" name="email" placeholder="Enter Email Address" class="form-control">
                        </div>
                        <div class="row form-row">
                            <input id="dat" name="date" type="date" placeholder="Appointment Date" class="form-control">
                        </div>
                        <div class="row form-row">
                            <input id="date" name="time" type="time" placeholder="Appointment time" class="form-control">
                        </div>

                        <h6>Address Details</h6>

                        <div class="row form-row">
                            <div class="col-sm-6">
                                <input type="text" name="country" placeholder="Enter country" class="form-control">
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="col-sm-6">
                                <input type="text" name="city" placeholder="Enter city" class="form-control">
                            </div>
                        </div>

                        <div class="row form-row">
                            <button class="btn btn-success btn-appointment">
                                Book Appointment
                            </button>

                        </div>
                    </div>
</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-datepicker.js"></script>

<script>
      $(document).ready(function(){
          $("#dat").datepicker();
      })
    </script>

</body>
</html>